// colors
$black:  #000000;
$dark:   #161616;
$yellow: #FFE500;
$white:  #ffffff;
$light:  #F1F2F5;
$gray:   #EFF0F1;

// fonts
$bold:     'Raleway-Bold';
$regular:  'Raleway-Regular';
$semibold: 'Raleway-SemiBold';

// resolutions

$xs: 600px;
$xm: 750px;
$xl: 820px;